@import 'variables'

.h1 
    font-family 'Cairo', sans-serif
    font-size fontsizeh1
    line-height 50px
    font-weight 300


.h2 
    font-family 'Poppins', sans-serif
    font-weight 500
    font-size fontsizeh2

.p
    font-family 'Quicksand', sans-serif
    font-size fontsizep
    font-weight 500
    line-height 35px

.bold
    font-weight 700


.black
    color black

.white 
    color white

.li
    margin-left 10px
    margin-top 10px

.large
    font-size 1.6rem

.center
    text-align center

.small
    font-size small
    margin-bottom 0px


.medium
    font-size medium