@import 'variables'

.section3a
    position relative
    background #DCE9E9
    text-align left
    width 100%
    display flex
    flex-direction column 
    align-items center
    justify-content start

.section3b
    height 562px
    background linear-gradient(180deg, #DCE9E9 11.21%, rgba(220, 233, 233, 0.15) 42.17%), url("../../images/img1.png");
    background-size cover
    background-position-x center
    background-position-y center
    text-align left
    width 100%
    display flex
    flex-direction column 
    align-items center
    justify-content start

.section3__element
    text-align left
    color blue
    width 80%