@import 'variables'

.section8
    position relative
    background linear-gradient(180deg, #FFF6FB 0%, #E7F6FC 100%)
    text-align left
    width 100%
    display flex
    flex-direction column 
    align-items center
    justify-content start

.section8__element
    color #000
    width 80%
